<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
</head>
<body>
  <h1>Designing in the console</h1>
  <p>You'll need to inspect to see the trickery.</p>

  <div id="clockdiv">
    Days: <span class="days"></span><br>
    Hours: <span class="hours"></span><br>
    Minutes: <span class="minutes"></span><br>
    Seconds: <span class="seconds"></span>
  </div>

  <script>
  console.log("%c Hello developer world!",
  'padding-top: 30px; padding-bottom: 30px; margin-bottom: 30px; margin: .67em 0; font-size: 2em; background-color: #eee;');
  console.log("%cHmm let me see if I can change that font",
  'font-family: Roboto, Comic Sans; font-size: 1.6em; background-color: pink; font-weight: 700;');
  console.log("%cCursive Power!", 'font-family: cursive; font-size: 1.6em;');
  </script>

  <script>
    var deadline = '2016-05-09';

    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor( (t/1000) % 60);
      var minutes = Math.floor( (t/1000/60) % 60);
      var hours = Math.floor( (t/(1000*60*60)) % 24);
      var days = Math.floor( t/(1000*60*60*24) );
      return {
          'total': t,
          'days': days,
          'hours': hours,
          'minutes': minutes,
          'seconds': seconds
      };
    }

    function initializeClock(id, endtime) {
      var clock = document.getElementById(id);
      var daysSpan = clock.querySelector('.days');
      var hoursSpan = clock.querySelector('.hours');
      var minutesSpan = clock.querySelector('.minutes');
      var secondsSpan = clock.querySelector('.seconds');

      function updateClock(){

        var t = getTimeRemaining(endtime);

        daysSpan.innerHTML = ('0' + t.days).slice(-2);
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' +t.minutes).slice(-2);
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

        if (t.total<=0){
          clearInterval(timeinterval);
        }
      }

    updateClock(); //run function once at first to avoid delay
    var timeinterval = setInterval(updateClock, 1000);
}
    initializeClock('clockdiv', deadline);

  </script>

</body>
</html>
